* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #081541, #0c0c0f);
  color: white;
}

.container {
  width: 85%;
  margin: auto;
}

/* ABOUT */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.about-text {
  width: 60%;
}

.about-text p {
  margin-bottom: 12px;
  color: #F7EFE3;
  line-height: 1.6;
}

.about-img {
  width: 40%;
  display: flex;
  flex-direction: column; /* THIS FIXES IT */
  align-items: center;
}

.profile-pic {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #A57B2A;
  box-shadow: 0 0 20px #A57B2A;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 0 20px rgba(0,212,255,0.4);
}
.card.active {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0,212,255,0.5);
}

.card h2 {
  color: #c9a55e;
  margin-bottom: 10px;
}

.card p, .card li {
  color: #ffffff;
}

.edu-item p:first-child {
  margin-bottom: 4px;
}

/* Improve spacing inside cards */
.card p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.card ul {
  margin-left: 20px;
  margin-bottom: 12px;
}

.card li {
  margin-bottom: 6px;
  line-height: 1.5;
}

/* Add spacing between sections inside card */
.card p strong {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
}
.profile-name {
  margin-top: 15px;
  text-align: center;
  font-size: 32px; /* same feel as About Me */
  font-weight: 600;
  color:#a38446 ;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.about-text h1 {
  color:#c9a55e ;
  font-weight: 600;
  letter-spacing: 1px;
}
/* Normal link */
.contact a {
  color: #00d4ff;
  text-decoration: none;
}

/* Visited link (removes purple) */
.contact a:visited {
  color: #00d4ff;
}

/* Hover effect */
.contact a:hover {
  color: #00ffff;
  text-decoration: underline;
}
.edu-item {
  margin-bottom: 50px;
}
